composer.lock
.idea/.name
.idea/blade.xml
.idea/copyright/
.idea/deployment.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/laravel.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vagrant.xml
.idea/workspace.xml
_ide_helper.php
composer.json
composer.phar
vendor/
